{% load static %}
<div id="carouselHeroDark" class="carousel carousel-dark slide">
    <div class="overly">

    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHeroDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHeroDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHeroDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselHeroDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded-2 shadow-lg">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'images/carousels/banner1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-uppercase fs-1 fw-bold text-left">Tên Sản phẩm</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <a href="#" class="btn btn-primary text-uppercase fw-bold rounded-5">Mua Ngay</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/carousels/banner2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-uppercase fs-1 fw-bold text-left">Tên Sản phẩm</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <a href="#" class="btn btn-primary text-uppercase fw-bold rounded-5">Mua Ngay</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/carousels/banner3.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-uppercase fs-1 fw-bold text-left">Tên Sản phẩm</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <a href="#" class="btn btn-primary text-uppercase fw-bold rounded-5">Mua Ngay</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'images/carousels/banner2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-uppercase fs-1 fw-bold text-left">Tên Sản phẩm</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <a href="#" class="btn btn-primary text-uppercase fw-bold rounded-5">Mua Ngay</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeroDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHeroDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>