{% load static %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <form class="d-flex position-relative d-lg-none ms-auto" role="search" data-bs-toggle="modal"
            data-bs-target="#searchModal">
            <input class="form-control rounded-pill search" type="text" placeholder="Tìm kiếm sản phẩm . . . . "
                aria-label="Search" />
            <button class="border-0 bg-transparent rounded-pill position-absolute top-0 end-0 me-2 mt-1" type="button"
                data-bs-toggle="modal" data-bs-target="#searchModal"><i
                    class="bi bi-search fw-bold fs-5 search-icon"></i></button>
        </form>

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hướng dẫn thanh toán</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Đánh giá/Góp ý</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tin tức</a>
            </li>
        </ul>
    </div>
</div>