<!-- templates/includes/sidebar.html -->

{% if user.is_staff %}
  <aside class="sidebar">
    <nav>
      <div class="nav-section">
        <h3>Quản lý sản phẩm</h3>
        <ul class="d-flex flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">➕ Thêm sản phẩm</a>
          </li>
          <li>
            <a href="#">📋 Danh sách sản phẩm</a>
          </li>
          <li>
            <a href="{% url 'store:category_create' %}">📁 Thêm danh mục</a>
          </li>
          <li>
            <a href="#">🗂️ Quản lý danh mục</a>
          </li>
        </ul>
      </div>

      <div class="nav-section">
        <h3>Quản lý đơn hàng</h3>
        <ul>
          <li>
            <a href="#">🛒 Tạo đơn hàng mới</a>
          </li>
          <li>
            <a href="#">📦 Danh sách đơn hàng</a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
{% endif %}
