{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-yellow">
    <div class="container-fluid p-5">
        {% include 'partials/carousel.html' %}
    </div>
</div>

<div class="category-wrap">
    <div class="category-tilte">
        <h1 class="text-primary my-3 d-inline-flex justify-content-center">
            <span class="section-title">DANH MỤC SẢN PHẨM</span>
        </h1>
    </div>
    <p>
        Nhịp sống trẻ
22/04/2016 09:00 GMT+7
Sẽ khơi dậy khát vọng trong mỗi thanh niên Việt
ĐỨC BÌNH ghi
ĐỨC BÌNH ghi
news google
TTO - Ngay sau khi trúng cử bí thư thứ nhất T.Ư Đoàn với số phiếu tuyệt đối 100% (134/134) của Ban chấp hành T.Ư Đoàn, anh Lê Quốc Phong đã dành thời gian trả lời câu hỏi của đại diện các cơ quan thông tấn báo chí.
Anh Lê Quốc Phong trong một chuyến trao quà từ thiện cho người nghèo đảo Lý Sơn (Quảng Ngãi) 
- Ảnh: Trần Mai
    </p>
</div>
Nhịp sống trẻ
22/04/2016 09:00 GMT+7
Sẽ khơi dậy khát vọng trong mỗi thanh niên Việt
ĐỨC BÌNH ghi
ĐỨC BÌNH ghi
news google
TTO - Ngay sau khi trúng cử bí thư thứ nhất T.Ư Đoàn với số phiếu tuyệt đối 100% (134/134) của Ban chấp hành T.Ư Đoàn, anh Lê Quốc Phong đã dành thời gian trả lời câu hỏi của đại diện các cơ quan thông tấn báo chí.
Anh Lê Quốc Phong trong một chuyến trao quà từ thiện cho người nghèo đảo Lý Sơn (Quảng Ngãi) 
- Ảnh: Trần Mai

Anh Lê Quốc Phong trong một chuyến trao quà từ thiện cho người nghèo đảo Lý Sơn (Quảng Ngãi) - Ảnh: Trần Mai
Mở đầu buổi trò chuyện, anh Lê Quốc Phong chia sẻ: “Đây là vinh dự hết sức to lớn, tôi thấy rất vui vì được sự tín nhiệm cao của ban chấp hành. Và thật sự tôi cũng rất lo làm sao để đáp ứng được kỳ vọng của ban chấp hành, sự kỳ vọng của thanh niên, kế thừa và phát huy thành tựu của những người đi trước để có thể đưa phong trào Đoàn tiếp tục phát triển, tạo được sức mạnh tập thể để cho ra được nhiều chương trình mới đáp ứng được đòi hỏi, nhu cầu của thanh niên”.

Đoàn sẽ giúp thanh niên hội nhập bằng cách hỗ trợ thứ nhất là tiếng Anh vì đây là ngôn ngữ giao tiếp toàn cầu, thứ hai là kỹ năng thực hành xã hội. Vì hội nhập giờ đã là câu chuyện thực tế, không phải là câu chuyện dự báo như trước nữa

Bí thư thứ nhất T.Ư Đoàn LÊ QUỐC PHONG
* Tuổi Trẻ: Bí thư trăn trở nhất điều gì và anh sẽ bắt tay vào việc nào trước?

- Phát biểu nhận nhiệm vụ, tôi đặt ra nhiều câu hỏi tại sao. Mỗi câu hỏi là một vấn đề để tôi tập trung phải làm. Thứ tự đặt câu hỏi cũng là thứ tự tôi ưu tiên cái gì quan trọng nhất.

Đó là việc Đoàn tiếp tục truyền được cảm hứng, khơi dậy những khát vọng cao đẹp và hành động để thực hiện những khát vọng trong mỗi thanh niên Việt, làm sao để mỗi thanh niên tự đặt ra những mục đích cao hơn, đòi hỏi cao hơn về bản thân, khơi được nguồn sức mạnh vô cùng to lớn trong giới trẻ.

Đoàn khơi dậy khát vọng cho thanh niên, tạo cơ hội, mở ra môi trường để mỗi thanh niên xác định cơ hội, khát vọng của mình trong đó để dấn thân, nỗ lực thực hiện, mang lại giá trị cho đất nước.

* Tiền Phong: Đội ngũ cán bộ Đoàn khá nhiệt tình, năng động, nhưng giờ không ít cán bộ Đoàn có toan tính, thực dụng. Anh nghĩ sao về vấn đề này?

- Nếu có hiện tượng này thì chắc chỉ là phần rất nhỏ trong đại bộ phận cán bộ Đoàn. Còn đâu đó có xuất hiện tình trạng này để dẫn tới suy nghĩ trên thì đây là câu chuyện của tổ chức Đoàn cần phải chấn chỉnh. Tôi tin đại bộ phận người đã chọn đi theo công tác Đoàn là họ đã chấp nhận sự dấn thân, hi sinh cho công việc của mình.

* Sinh Viên Việt Nam: Mạng xã hội đang “nuốt” thanh niên và Đoàn cần làm gì để lôi cuốn, hấp dẫn thanh niên?

- Mạng xã hội là câu chuyện ta phải tận dụng. Nhiều năm gần đây, Đoàn từng bước sử dụng và quan tâm đến những tính năng tốt của mạng xã hội. Đây là kênh để Đoàn tiếp cận, tuyên truyền, lắng nghe giới trẻ.

Đây là xu thế tất yếu và Đoàn sẽ còn tiếp tục dùng kênh này tương tác với thanh niên, tiếp cận thanh niên một cách chủ động. Bối cảnh đặt ra cho thanh niên nhiều lựa chọn. Đoàn làm sao đáp ứng những nhu cầu, nguyện vọng chính đáng rất đa dạng của thanh niên. Đây là khó khăn, thách thức của tổ chức Đoàn. Nhưng ngược lại, đây là cảm hứng, động lực để mình nhìn vào đó vượt qua.

Pause

Next
Unmute
Current Time 
0:03
/
Duration 
3:21
Fullscreen
--- Quảng cáo ---

* Sinh Viên Việt Nam: Bí thư cho biết suy nghĩ của anh về việc tập hợp những tài năng trẻ ở ngoài nước?

- T.Ư Đoàn đã kết nối, tạo kênh thông tin liên lạc với những tài năng trẻ ngoài nước và mới đây T.Ư Đoàn đã tổ chức đại hội tài năng trẻ để kết nối những tài năng.

Tới đây T.Ư Đoàn sẽ tham mưu cho Đảng, Nhà nước xây dựng chiến lược tài năng trẻ. Ta sẽ tiếp cận được với những thế mạnh của giới trẻ, tìm kiếm được sự hợp tác giữa thanh niên Việt Nam trong và ngoài nước, mời họ tham gia giải quyết các vấn đề mà đất nước, giới trẻ đang quan tâm bằng chính năng lực chuyên môn của mỗi người.

Tôi muốn có sản phẩm để thu hút sự quan tâm và sự tham gia của thanh niên.

* Thanh Niên: Vấn đề khởi nghiệp của thanh niên chưa tạo thành phong trào chung. Đoàn sẽ làm gì để hỗ trợ thanh niên khởi nghiệp?

- Tôi nghĩ rằng đây là việc tôi sẽ làm sớm và T.Ư Đoàn sẽ triển khai sớm chương trình thanh niên khởi nghiệp ở tầm vóc cả nước.

Đây là câu chuyện quan tâm của thanh niên, của xã hội và tổ chức Đoàn. Đoàn đã nung nấu câu chuyện này thời gian dài.

Do đó, dự kiến trong tháng 5-2016 sẽ có khởi động đầu tiên cho chương trình khởi nghiệp.

Trước mắt là các hoạt động để phát huy những sáng tạo trong thanh niên, tư vấn hỗ trợ thanh niên có nhu cầu khởi nghiệp. Phát huy vai trò của hội doanh nhân trẻ trong hỗ trợ thanh niên có mong muốn khởi nghiệp. Tìm kiếm nguồn vốn và là cầu nối để giúp đỡ thanh niên có nhu cầu khởi nghiệp.

Tân Bí thư thứ nhất T.Ư Đoàn Lê Quốc Phong, 38 tuổi, là thạc sĩ sinh học, cao cấp lý luận chính trị, ủy viên dự khuyết Ban Chấp hành T.Ư Đảng, bí thư T.Ư Đoàn, chủ tịch Hội Sinh viên Việt Nam.

Anh Lê Quốc Phong tham gia công tác Đoàn từ khi còn là học sinh Trường THPT Lê Hồng Phong (TP.HCM), từng trải qua nhiều vị trí công tác Đoàn khác nhau ở trường đại học và từng giữ cương vị bí thư Thành đoàn TP.HCM (tháng 12-2012 đến tháng 1-2014).

Tháng 12-2013, anh được bầu làm bí thư T.Ư Đoàn khóa 10, chủ tịch T.Ư Hội Sinh viên Việt Nam khóa 9. Tháng 1-2016 tại Đại hội Đảng toàn quốc lần thứ XII, anh Lê Quốc Phong trúng cử làm ủy viên dự khuyết Ban Chấp hành T.Ư Đảng.

Ông Phạm Minh Chính - ủy viên Bộ Chính trị, trưởng Ban Tổ chức trung ương, bà Trương Thị Mai - ủy viên Bộ Chính trị, trưởng Ban Dân vận trung ương - tặng hoa nguyên Bí thư thứ nhất Nguyễn Đắc Vinh và tân Bí thư thứ nhất Lê Quốc Phong (trái) tại Hội nghị Ban chấp hành Trung ương Đoàn khóa X - Ảnh: Việt Dũng
Ông Phạm Minh Chính - ủy viên Bộ Chính trị, trưởng Ban Tổ chức trung ương, bà Trương Thị Mai - ủy viên Bộ Chính trị, trưởng Ban Dân vận trung ương - tặng hoa nguyên Bí thư thứ nhất Nguyễn Đắc Vinh và tân Bí thư thứ nhất Lê Quốc Phong (trái) tại Hội nghị Ban chấp hành Trung ương Đoàn khóa X - Ảnh: Việt Dũng
Thảo luận chương trình hành động Đoàn

Hội nghị Ban chấp hành T.Ư Đoàn khóa X đã được tổ chức tại Hà Nội sáng 21-4. Dự hội nghị có ông Phạm Minh Chính - ủy viên Bộ Chính trị, trưởng Ban Tổ chức T.Ư, bà Trương Thị Mai - ủy viên Bộ Chính trị, trưởng Ban Dân vận T.Ư. Hội nghị đã bầu anh Lê Quốc Phong - ủy viên dự khuyết Ban Chấp hành T.Ư Đảng, bí thư T.Ư Đoàn, chủ tịch Hội Sinh viên Việt Nam - giữ cương vị bí thư thứ nhất T.Ư Đoàn khóa X (2012-2017).

Hội nghị đã thảo luận, cho ý kiến kế hoạch tổ chức đại hội Đoàn các cấp, tiến tới Đại hội đại biểu toàn quốc lần thứ XI của Đoàn TNCS Hồ Chí Minh. Dự kiến tháng 12-2017 sẽ tổ chức Đại hội đại biểu toàn quốc lần thứ XI của Đoàn TNCS Hồ Chí Minh.

Hội nghị cũng thảo luận về chương trình hành động của Đoàn thực hiện nghị quyết Đại hội Đảng toàn quốc lần thứ XII gồm 5 chương trình, chỉ tiêu: hằng năm 100% cấp tỉnh, cấp huyện có công trình thanh niên dựng xây đất nước; tổ chức hỗ trợ khởi nghiệp cho 2,5 triệu thanh niên và giới thiệu việc làm cho 2.500 thanh niên hoàn lương/năm. Mỗi năm kết nạp thêm 9.000 đoàn viên mới từ hội viên, thanh niên trong các doanh nghiệp ngoài nhà nước, giới thiệu 210.000 đoàn viên ưu tú cho Đảng và 70% đảng viên được kết nạp từ đoàn viên. Đến năm 2020 phấn đấu 100% tỉnh, thành phố có cung, nhà thiếu nhi và 50% cấp quận, huyện có nhà thiếu nhi.

Hiện tại Ban bí thư T.Ư Đoàn gồm sáu thành viên: Bí thư thứ nhất T.Ư Đoàn, Chủ tịch Hội Sinh viên VN Lê Quốc Phong; Bí thư thường trực T.Ư Đoàn Nguyễn Mạnh Dũng; Bí thư T.Ư Đoàn, Chủ tịch Hội LHTN VN Nguyễn Phi Long; Bí thư T.Ư Đoàn, Chủ tịch Hội đồng Đội T.Ư Nguyễn Long Hải; Bí thư T.Ư Đoàn Đặng Quốc Toàn và Bí thư T.Ư Đoàn Nguyễn Anh Tuấn.

ĐỨC BÌNH ghi
{% endblock content %}
    
